{% extends 'admin/home.html' %}
{% load static %}

{% block main %}
<div class="container d-flex justify-content-center mt-10">
    <div class="form-wrapper p-5">
        <div class="text-center mb-8">
            <label class="form-label">Upload Image</label>
            <input type="file" multiple>
        </div>
        <div class="mb-4">
            <label for="title" class="form-label">Judul</label>
            <input type="text" id="title" class="form-control form-control-lg">
        </div>
        <div class="mb-5">
            <label for="description" class="form-label">Deskripsi</label>
            <textarea id="description" class="form-control form-control-lg" rows="5"></textarea>
        </div>
        <div class="text-center">
            <button type="button" id="saveBtn" class="btn btn-primary btn-lg mt-4">Simpan</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.setOptions({
            allowMultiple:true,
            maxFiles:5,
            maxFileSize: '5MB'
        })
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            acceptedFileTypes:['image/png', 'image/jpeg'],
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        var formData = new FormData();
        $(document).on('click', '#saveBtn', function(e) {
            formData.append('length', files.length)
            formData.append('title', $('#title').val())
            formData.append('description', $('#description').val())
            for (var i = 0; i < files.length; i++) {
                formData.append('images' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: 'POST',
                url: '{% url "create_post" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('The post has been created!')
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })
    })
</script>
{% endblock %}
